<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="string_resolver_extension" name="String Resolver" schema="schema/string_resolver_extension.exsd"/>
   <extension
         id="GenericStringResolver"
         name="Generic String Resolver"
         point="org.sidiff.common.emf.stringresolver.string_resolver_extension">
      <string_resolver
            string_resolver="org.sidiff.common.emf.stringresolver.GenericStringResolver">
         <documentType>generic</documentType>
      </string_resolver>
   </extension>
</plugin>
