<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="metrics_extension" name="EMF Metrics Extension Point" schema="schema/metrics_extension.exsd"/>
   <extension
         point="org.sidiff.common.emf.metrics.metrics_extension">
      <metric
            class="org.sidiff.common.emf.metrics.defaults.impl.NumberOfResources"
            description="The number of Resources in the ResourceSet."
            key="emf.NumberOfResources"
            name="Number of Resources">
         <documentType>
            generic
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.impl.TypeCounting"
            description="The meta-types of all EObjects in the resource and their usage count."
            key="emf.TypeCounting"
            name="Number of EObjects per Meta-Type">
         <documentType>
            generic
         </documentType>
      </metric>
      <metric
            class="org.sidiff.common.emf.metrics.defaults.impl.NumberOfResourceErrors"
            comparisonType="LOWER_IS_BETTER"
            description="The total number of validation errors recorded in the Resource."
            key="emf.NumberOfResourceErrors"
            name="Number of Resource Validation-Errors">
         <documentType>
            generic
         </documentType>
      </metric>
   </extension>

</plugin>
