<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.sidiff.ui.category"
            class="org.sidiff.common.emf.metrics.ui.views.MetricsView"
            id="org.sidiff.common.emf.metrics.ui.views.MetricsView"
            name="Metrics"
            restorable="true">
      </view>
   </extension>

</plugin>
